.DS_Store
data/raw/ml-25m/*
data/processed/week03_v1/*

# Python virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

# Conda environments
.conda/
conda-meta/

# Environment variable files
.env
.env.*
*.env
skills/*
